<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style>
        .mil-symbol {
            width: 100px;
        }
    </style>
</head>
<body>
<h1>Test symbols</h1>

<img class="mil-symbol" src="/sidc/10131000001211050000">
<img class="mil-symbol" src="/sidc/10233000001201000000">
<img class="mil-symbol" src="/sidc/10051000001211040000">
<img class="mil-symbol" src="/sidc/10031030141211040000">
<img class="mil-symbol" src="/sidc/10031500321112030000">
<img class="mil-symbol" src="/sidc/10031000161211002019">
<img class="mil-symbol" src="/sidc/10033000001500000000">
<img class="mil-symbol" src="/sidc/10031000001110980000">
<img class="mil-symbol" src="/sidc/10031002181211020000">
</body>
</html>